@import "../../../scss/base/index.scss";

.clear {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear_button {
  text-align: center;
  background: #e5f3fd;
  width: 100%;
  height: 100%;
  border-left: $calculator_border;
  border-bottom: $calculator_border;
  font-family: $font-family-calculator;
  font-weight: $font-weight-normal;
  font-size: $font-size-lg;
}

.clear_button:hover {
  background: #92d0fc;
}
