@import "../../../scss/base/index.scss";

.operator {
  text-align: center;
  background: #ffeccf;
  border-left: $calculator_border;
  border-right: $calculator_border;
  border-bottom: $calculator_border;
  display: flex;
  justify-content: center;
}

.operator_button {
  width: 100%;
  font-family: $font-family-calculator;
  font-weight: $font-weight-normal;
  font-size: $font-size-lg;
}

.operator:hover {
  background: #ffcc80;
}
