/* =======================
    Base
======================= */

$clear-color: #e5f3fd;
$operator-color: #ffeccf;
$operand-color: #e2fef6;
$dot-color: #f3ffee;

/* =======================
    Hover
======================= */

$primary-hover-color: #e4b660;
$clear-hover-color: #e5f3fd;
$operator-hover-color: #ffeccf;
$operand-hover-color: #9becd5;
$dot-hover-color: #dfffd1;

/* =======================
    Black & White
======================= */

$black: #2d3033;
$white: #fcfffe;
$dark: #22222c;
$light-grey: #a2a7b6;
$dark-grey: #3c3444;

/* =======================
    Text
======================= */

$calculator-text-color: #2d3033;
