@import "../../../scss/base/index.scss";

.calculatorBody_numbers {
  font-family: $font-family-calculator;
  font-weight: $font-weight-normal;
  font-size: $font-size-lg;
  color: $calculator-text-color;
}

.calculatorBody_0 {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  button {
    text-align: center;
    background: $operand-color;
    width: 100%;
    height: 100%;
    align-items: center;
    border-left: $calculator_border;
    border-bottom: $calculator_border;
  }
  button:hover {
    background: $operand-hover-color;
  }
}

$numbers: 1, 2, 3, 4, 5, 6, 7, 8, 9;

@each $number in $numbers {
  .calculatorBody_#{$number} {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      background: $operand_color;
      width: 100%;
      height: 100%;
      border-bottom: $calculator_border;
      border-left: $calculator_border;
    }
    button:hover {
      background: $operand-hover-color;
    }
  }
}
