@import "./scss/base/index.scss";

.calculator {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 240px;
  height: 380px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 80px auto;
  box-shadow: 3px 3px 5px 6px #ccc;
}
