@import "./scss/base/index.scss";

.calculator {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 240px;
  height: 380px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 80px auto;
  box-shadow: 5px 5px rgba(0, 98, 90, 0.4), 10px 10px rgba(0, 98, 90, 0.3),
    15px 15px rgba(0, 98, 90, 0.2), 20px 20px rgba(0, 98, 90, 0.1),
    25px 25px rgba(0, 98, 90, 0.05);
}
