@import "./scss/base/index.scss";

.calculator {
  border-radius: 5px;
  background-color: whitesmoke;
  width: 270px;
  height: 435px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 25% auto;
  padding: 10px;
}

